.schedule {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
