

.main-login-page{
    display: flex;
    border-radius: 20px;  
}

.main-image{
    border: 2px solid rgb(19, 0, 139);
    border-radius: 20px 0px 0px 20px;
    background: #fff;
}

.main-image img{
    width: 570px;
    border-radius: 20px 0px 0px 20px;    
}

.wrapper {
    width: 420px;
    background: rgb(67, 41, 236);
    color: #fff;
    border: 2px solid rgb(19, 0, 139);
    border-radius: 0px 20px 20px 0px;
    padding: 7% 5%;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 45px ;
}

.input-box input::placeholder{
    color: #ababab;
}

.input-box input:focus{
    border: 2px solid rgb(16, 1, 112);
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 33%;
    transform: translate(-50%);
    font-size: 16px;
    color: rgb(67, 41, 236);

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: rgb(16, 1, 112);;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.wrapper button:hover{
    color: #000000;
    background: #fff;
    transition-duration: 0.6s;
}

.wrapper .leave-note{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.leave-note p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.leave-note p a:hover{
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .main-login-page {
        flex-direction: column; 
        align-items: center; 
    }

    .main-image {
        display: none; 
    }

    .wrapper {
        width: 90%;  
        border-radius: 20px;
    }

}

